name: Backend Linter

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Run Ruff Linter
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Install dependencies
        working-directory: backend
        run: just install

      - name: Run linter
        working-directory: backend
        run: just lint
